body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url(./images/retina_wood.png) 100% 100%;
}

.myborderline {   
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: black;
    border-bottom: 7px solid goldenrod;
    font-weight: bold; 
    font-size: xx-large
    /* margin: 30px 30px 30px 30px */
} 
 
.col-md-9 {
    font-size: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 85%;
}
